* {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
}

.container {
    display: flex;
}

.red {
    color: red;
}

.small-input {
    width: 100px;
}

.photo-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px 0px rgba(0, 95, 168, 0.861);
}

.photo-profile-main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 95, 168, 0.861);
}



.photo-list {
    width: 200px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.861);
}

.all-photos {
    display: flex;
}


.delete-button {
    width: 80px;
    border-radius: 10px;
}