* {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Schibsted Grotesk', sans-serif;
}

p {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(34, 126, 218, 0.759);
}

.container {
    display: flex;
}

.profile-bar {
    display: flex;
    justify-content: flex-end;
}



.red {
    color: red;
}

.small-input {
    width: 100px;
}

.regular-input {
    width: 300px;
}

.long-button {
    width: 50%;
    border-radius: 20px;
}

.regular-button {
    width: 20%;
    border-radius: 20px;
}

.photo-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px 0px rgba(0, 95, 168, 0.861);
}

.photo-profile-main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 95, 168, 0.861);
}



.photo-list {
    width: 140px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.861);
}

.all-photos {
    display: flex;
}

.one-photo {
    display: flex;
    flex-direction: column;
}

.delete-button {
    width: 80px;
    border-radius: 10px;
}

