.itemMainPic {
    width: 200px;
    height: 200px;
}

.allItems {
    display: flex;
    width: 70%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: ltr;
}

.oneItem {
}

.noItems {
    height: 400px;
    width: 70%;
}