.itemMainPic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.totalAllItems {
    display: contents
}

.allItems {
    display: flex ;
    flex-wrap: wrap;
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    direction:ltr;
}


.noItems {
    height: 400px;
    width: 70%;
}

.allMyItems {
    display: inline-block;
    width: 70%;
    height: 500px;
}