.flex {
    display: flex;
    width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    direction: ltr;
}

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.oneUser {
    width: 170px
}