* {
    padding: 2px;
    margin: 0 auto;
}

input {
    padding: 3px;
}

h1, h2, h3, h4 {
    font-family: 'Wix Madefor Display', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
}

.body {
    display: flex;
    width: 70%;
}

.bottom {
    display: flex;
    width: 70%;
}

.topLeftBody {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
}

.bottomLeftBody {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftBody {
    flex: 2;
}

.rightBody {
    flex: 3;
    overflow-x: hidden;
    overflow-y: auto;
    direction: ltr;
    
}

.listButton {
    width: 180px;
    height: 30px;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 144, 54);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(232, 109, 8);
    border-radius: 100vw;
}