.customUpload {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

input[type="file"] {
    display: none
}

.updateButton {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.form {
    padding: 10px;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}

.inputField {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

@media all and (max-width: 935px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .SideBar {
        display: none;
    }
}