.customUpload {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

input[type="file"] {
    display: none
}

.updateButton {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.form {
    padding: 10px;
}