.itemPictureSmall {
    width: 100px;
    height: 100px
}

.flex {
    display: flex;
    height: 200px;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    direction: ltr;
}

.filterButton {
    width: 80px;
    border-radius: 5px;
}

.selectField {
    width: 200px;
}

.oneItem {
    width: 150px;
}

