.container {
    width: 70%;
}

.oneCorr {
    display: flex;
    width: 600px;
    /* height: 60px; */
    align-items: center;
    border-top: 1px solid rgb(103, 103, 103);
}

.profilePic {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.preview {
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
    font-size: medium;
}

.logoAndName {
    display: flex;
    align-items: center;
    width: 300px;
}


.logo {
    width: 70px;
}

.name {
    width: 100px;
}

.messagePreview {
    width: 350px;
}

.body {
    display: flex;
    width: 63%;
}

.rightBody {
    width: 70%;
}


.trashIcon {
    width: 40px;
    height: 40px;
}

.trash {
    
}

.trashButton {
    background-color: transparent;
    border: none;
}

.message {
    width: 200px;
}

.messageTotal {
    display: flex;
    align-items: center;
}