.container {
}

.oneCorr {
    display: flex;
    width: 85%;
    /* height: 60px; */
    align-items: center;
    border-top: 1px solid rgb(103, 103, 103);
}

.profilePic {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.preview {
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
    font-size: medium;
}

.logoAndName {
    display: flex;
    align-items: center;
    max-width: 100%
}


.logo {
    width: 70px;
    display: flex;
}

.name {
    width: 100%;
}

.messagePreview {
    width: 350px;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}


.trashIcon {
    width: 40px;
    height: 40px;
}

.trash {
    
}

.trashButton {
    background-color: transparent;
    border: none;
}

.message {
    width: 200px;
}

.messageTotal {
    display: flex;
    align-items: center;
}

@media all and (max-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .messageTotal {
    }
}

@media all and (max-width: 671px) {
    .oneCorr {
    }
    .messageTotal {
        max-width: 80%;
    }
    .name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .logoAndName {
        width: 150px;
    }
    .message {
        width: 250px;
    }
    .messagePreview {
        width: 200px;
    }
    .trash {
        width: 50px;
    }
}