.itemPicture {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.itemButton {
    width: 100px;
    height: 50px;
    background-color: rgb(248, 212, 167);
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 2px black;
}

.itemButton:hover {
    background-color: rgb(250, 164, 58);
}

.buttons {
    display: flex;
    width: 220px;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}

.descriptionBox {
    background-color: rgba(255, 255, 255, 0.652);
    max-width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

@media all and (max-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .itemPicture {
        width: 220px;
        height: 250px;
    }
    .SideBar {
        display: none;
    }
}