.totalMessages {
    /* width: 60%; */
}

.leftMessage {
    display: flex;
    text-align: left;
}

.rightEmpty {

}

.leftEmpty {

}

.rightMessage {
    display: flex;
    text-align: right;
    
}

.incoming {
    background-color: #878787cc;
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.outgoing {
    background-color: #36aefdcc;
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.dateFont {
    font-size: x-small;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.messageBox {
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    
}

.replyBox {
    width: 300px;
}

.replyButton {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.body {
    display: flex;
    width: 63%;
}

.rightBody {
    width: 70%;
}

.sendButton {
    background-color: none;
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: relative;
}

.sendMessage {
    width: 60px;
    height: 60px;
}