.totalMessages {
    width: 60%;
}

.leftMessage {
    display: flex;
    
    text-align: left;
}

.rightEmpty {

}

.leftEmpty {

}

.rightMessage {
    display: flex;
    text-align: right;
    
}

.incoming {
    background-color: #f2f2f2cc;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.outgoing {
    background-color: #31aafacc;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.dateFont {
    font-size: small;
}