.totalMessages {
    /* width: 60%; */
}

.leftMessage {
    display: flex;
    text-align: left;
}

.rightEmpty {

}

.leftEmpty {

}

.rightMessage {
    display: flex;
    text-align: right;
    
}

.incoming {
    background-color: #f2f2f2cc;
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.outgoing {
    background-color: #48b6ffcc;
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.dateFont {
    font-size: x-small;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.messageBox {
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    
}

.replyBox {
    width: 300px;
}

.replyButton {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.body {
    display: flex;
    width: 63%;
}

.rightBody {
    width: 70%;
}