.messageBox {
    width:400px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.sendButton {
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.sendMessage {
    width: 60px;
    height: 60px;
    position: relative;
    right: 5px;
    bottom: 5px;
}

@media all and (max-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .messageBox {
        max-width: 80%;
    }
    .SideBar {
        display: none;
    }
}