.messageBox {
    width: 400px;
    border-radius: 20px;
    padding: 10px;
}

.sendButton {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.body {
    display: flex;
    width: 63%;
}

.rightBody {
    width: 70%;
}