

.logo {
    font-family: 'Cinzel', serif;
    font-size: xx-large;
    color: rgb(29, 123, 224);
    width: 200px;
    position: relative;
    right: 5px;
    text-shadow: 1px 1px rgb(1, 74, 233);
}

.saleIcon {
    width: 50px;
    height: 50px;
    position: relative;
    left: 18px;
    top: 17px;
    z-index: -1;
}

.wholeLogo {
    display: flex;
    width: 250px;
}

.navLinks {
    display: inline;
    max-height: 180px;
    text-align: right;
    line-height: 0.7;
}

.cartTotal {
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color: red;
    border-radius: 100%;
    width: 30px;
    color: white;
    box-shadow: 1px 2px 2px black;
}


.totalCart {
    height: 60px;
}

.topNav {
    display: flex;
    width: 70%;
    height: 300px;
}

.topLeft {
    flex: 2;
}

.topRight {
    display: grid;
    position: relative;
    top: 10%;
    right: 12%;
    height: 100px;
    flex: 3;
    justify-content: right;
}

.profilepic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.cartPic {
    width: 45px;
    height: 40px;
}

/* .cartPic:hover {
    width: 45px;
    height: 40px;
    opacity: 50%;
} */

.cartButton {
    background: none;
    border: none;
    text-align: center;
    font-size: 25px;
    width: 80px;
    height: 70px;
}

.cartButton:hover {
    opacity: 60%;
}