.itemMainPic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 2px rgb(61, 61, 61);
    padding: 3px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 820px;
    overflow-x: hidden;
    overflow-y: auto;
}

.oneItem {
    
}

.sendMessage {
    width: 60px;
}

.sendMessage:hover {
    opacity: 60%;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}

@media all and (max-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .SideBar {
        display: none;
    }
    .flex {
        max-height: 100%;
    }
}