.itemPicture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.removeButton {
    width: 80px;
    height: 30px;
    background-color: rgb(255, 44, 79);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
    border: none;
}

.removeButton:hover {
    background-color: rgb(201, 9, 41);
}

.watchItems {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.body {
    display: flex;
    width: 95%;
}

.rightBody {
    width: 80%;
}

@media all and (max-width: 950px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .SideBar {
        display: none;
    }
    .watchItems {
        max-height: 100%;
    }
}