<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Change Password</title>
</head>
<body>
    <div>
    <h1>Change your Password</h1>
    <h4><a href="/dashboard">Back to dashboard</a></h4>
    <div class="red">
        {% with messages = get_flashed_messages(category_filter=['update_pw']) %}
            {% if messages %}
                {% for message in messages %}
                    <p>*{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form class="form-bg" action="/updatepw" method="post">
        <label for="password"><h4>New Password:</h4></label>
        <input class="regular-input" type="password" name="password">
        <label for="confirm_password"><h4>Confirm New Password:</h4></label>
        <input class="regular-input" type="password" name="confirm_password"><br><br>
        <input type="submit" class="regular-button" value="Update Password"><br><br>
    </form>
    </div>
</body>
</html>