<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello, <a href="/users/{{session.user_id}}">{{user.first_name}}</a></h1>
    <div>
        {% if profile %}
            <img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile-main">
        {% endif %}
    </div>

    <div>
        <a href="/logout">logout</a>
        <a href="/users/edit">Edit profile</a>
    </div>


    <div>
    {% for user in all_users %}
        {% if session.user_id != user.id %}
            <a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
        {% endif %}
    {% endfor %}
    </div>

</body>
</html>