<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>

    <div>
    <h1>Hello, <a href="/users/{{session.user_id}}">{{user.first_name}}</a></h1>
    <div class="profile-bar">
        <div class="profile-pic">
            {% if profile %}
                <a href="/pics/{{profile.id}}"><img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile-main"></a>
            {% endif %}
        </div>
        <div class="nav-links">
            <h4><a href="/logout">Logout</a></h4>
            <h4><a href="/users/edit">Edit profile</a></h4>
            <h4><a href="/users/inbox">Inbox</a></h4>
        </div>
    </div>

    <div class="total-box">

    <div class="lovebirds-box">
        <h2>Browse All Lovebirds</h2>
        {% for user in all_users %}
            {% if session.user_id != user.id %}
                <h4><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></h4>
            {% endif %}
        {% endfor %}
    </div>


    <div class="bio-box">
        <h2>All My Matches:</h2>
        {% if not user_with_matches.matches %}
            <p>No matches yet... you got work to do!</p>
        {% endif %}

        {% if user_with_matches.matches %}
            {% for match in user_with_matches.matches %}
                {% if match.first_name == None %}
                    <p>No matches yet... you got work to do!</p>
                {% endif %}
                <div class="flex">
                    {% if match.first_name != None %}
                        <h4><a href="/users/{{match.id}}">{{ match.first_name }}</a></h4>
                        <a href="/messages/new/{{match.id}}"><button class="delete-button">Message</button></a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="bio-box">
        <h3>Hearts I've Sent Out To:</h3>
        {% for receiver in user_with_matches.hearts_sent %}
            {% if not receiver.id%}
                <p>No hearts yet... send out more hearts!</p>
            {% endif %}
            {% if receiver.id %}
                <div class="flex">
                    <h4><a href="/users/{{receiver.id}}">{{receiver.first_name}}</a></h4>
                    <a href="/unsend/{{receiver.id}}"><button class="delete-button">Unsend</button></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    </div>

    </div>
</body>
</html>