<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Show Profile</title>
</head>
<body>

    <div>

    <div class="top">
        <h1>Hi, my name is {{user.first_name}} {{user.last_name}}</h1>
        <h4><a href="/dashboard">Back to dashboard</a></h4>
    </div>
    

    <div class="total">

    <div class="left">
        <div>
            {% if profile %}
                <img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile">
            {% endif %}
        </div>
        <div>
            {% if pics %}
                {% for pic in pics %}
                    <a href="/pics/{{pic.id}}"><img src="/pics/{{pic.id}}" alt="image {{pic.id}}" class="photo-list"></a>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>

    <div class="right">
        <div class="red">
            {% with messages = get_flashed_messages(category_filter=['upload']) %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <p>{{ message }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="red">
            {% with messages = get_flashed_messages(category_filter=['heart']) %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <p>{{ message }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% if attributes %}
        <div class="total-box">
            <div class="bio-box">
                <h2>A little bit about myself:</h2>
                <p>{{attributes.description}}</p>
                <p>{{attributes.age}} years of age</p>
                <p>Gender is {{attributes.gender}}</p>
                <p>I {{attributes.smoker}} smoke</p>
                <p>I {{attributes.drinker}} drink</p>
                <p>Looking for {{attributes.dating_goal}}</p>
                <p>My favorite hobby would have to be {{attributes.hobbies}}</p>
                <p>My body type is {{attributes.body_type}} ;)</p>
            </div>
        </div>
        {% endif %}
    </div>

    

    </div>
    <div class="bottom">
        <div>
            {% if session.user_id != user.id %}
            <div class="heart-set">
                <h5>SEND A HEART</h5>
                <a href="/sendheart/{{user.id}}"><img class="heart-shape" src="../static/files/heart2.png"></a>
            </div>
            {% endif %}
        </div>
    </div>
    
</body>
</html>