<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Show Profile</title>
</head>
<body>
    
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <div>
        <h4><a href="/dashboard">Back to dashboard</a></h4>
    </div>

    <div class="red">
        {% with messages = get_flashed_messages(category_filter=['upload']) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> <p>{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="red">
        {% with messages = get_flashed_messages(category_filter=['heart']) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>
                            <p>{{ message }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div>
        {% if profile %}
            <img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile">
        {% endif %}
    </div>


    <div>
        {% if pics %}
            {% for pic in pics %}
                <a href="/pics/{{pic.id}}"><img src="/pics/{{pic.id}}" alt="image {{pic.id}}" class="photo-list"></a>
            {% endfor %}
        {% endif %}
    </div>

    <h2>A little bit about myself:</h2>

    <div>
        {% if attributes %}
            <p>{{attributes.description}}</p>
            <p>I am {{attributes.age}} years of age</p>
            <p>My gender is {{attributes.gender}}</p>
            <p>I {{attributes.smoker}} smoke</p>
            <p>I {{attributes.drinker}} drink</p>
            <p>I am looking for {{attributes.dating_goal}}</p>
            <p>My favorite hobby would have to be {{attributes.hobbies}}</p>
            <p>My body type is {{attributes.body_type}} ;)</p>
        {% endif %}
    </div>

    <div>
        {% if session.user_id != user.id %}
            <a href="/sendheart/{{user.id}}"><button class="heart-button">Send {{user.first_name}} a heart</button></a>
        {% endif %}
    </div>

    <div>
        {% if session.user_id == user.id %}
            <h3>Hearts I've Sent Out To:</h3>
            {% for receiver in user_with_hearts.hearts_sent %}
                {% if receiver.id %}
                <div class="hearts_list">
                    <h4><a href="/users/{{receiver.id}}">{{receiver.first_name}}</a></h4>
                    <a href="/unsend/{{receiver.id}}"><button class="delete-button">Unsend</button></a>
                </div>
                {% endif %}
            {% endfor %}

            <h3>My Matches:</h3>
            

            <!-- <h3>Those Who Sent Me Hearts:</h3>
            {% for sender in user_with_hearts.hearts_received %}
                {% if sender.id %}
                    <a href="/users/{{sender.id}}"><h5>{{sender.first_name}}</h5></a>
                {% endif %}
            {% endfor %} -->
        {% endif %}
    </div>



</body>
</html>