<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Show Profile</title>
</head>
<body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <div class="red">
        {% with messages = get_flashed_messages(category_filter=['upload']) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div>
        {% if profile %}
            <img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile">
        {% endif %}
    </div>


    <div>
        {% if pics %}
            {% for pic in pics %}
                <img src="/pics/{{pic.id}}" alt="image {{pic.id}}" class="photo-list">
            {% endfor %}
        {% endif %}
    </div>


    <div>
        <a href="/dashboard">Back to dashboard</a>
    </div>
</body>
</html>