<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaqueries.css') }}">
    <title>Edit Profile</title>
</head>
<body>
    <div>
        <div class="top-message">
            <h1 class="hello-message">Edit Your Profile, {{user.first_name}}!</h1>
        </div>
        <div class="profile-bar">
            <div class="profile-pic">
                {% if profile %}
                    <a href="/dashboard"><img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile-main"></a>
                {% endif %}
                {% if not profile %}
                    <a href="/dashboard"><img src="../static/files/noprofile.png" alt="no-profile-pic" class="photo-profile-main"></a>
                {% endif %}
            </div>
            <div class="nav-links">
                <div class="glass-box nav-bar">
                    <h4><a href="/dashboard">Dashboard</a></h4>
                    <h4><a href="/logout">Logout</a></h4>
                    <h4><a href="/users/edit">Edit profile</a></h4>
                    <h4><a href="/users/inbox">Inbox</a></h4>
                    <h4>(You have <span class="notifications">{{user.new_message}}</span> new message)</h4>
                </div>
            </div>
        </div>
    
    <div class="total edit-profile">
        <div class="left">
            <div class="glass-box side-bar">
                <h4><a href="/changepw">Change your password</a></h4>
                {% if not attributes %}
                    <a href="/attributes/new">
                        <h4>Add your bio/preferences</h4>
                    </a>
                {% endif %}
                {% if attributes %}
                    <a href="/attributes/edit">
                        <h4>Update your bio/preferences</h4>
                    </a>
                {% endif %}
            

                <div>
                    <h4>Click on the photo you want as your profile picture!</h4>
                    <h4>(Scroll if needed)</h4>
                    <div class="flex">
                        <div class="flex-column">
                            <div class="all-photos">
                                {% if pics %}
                                {% for pic in pics %}
                                <div class="one-photo">
                                    <a href="/makeprofile/{{pic.id}}">
                                        <img src="/pics/{{pic.id}}" alt="image {{pic.id}}" class="photo-list">
                                    </a>
                                    <a href="/pics/delete/{{pic.id}}"><button class="delete-button"><p>Delete</p></button></a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="right">
        <div class="upload-box">
            <div class="lovebirds-box">
                <div class="red">
                    {% with messages = get_flashed_messages(category_filter=['upload']) %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>
                            <p>{{ message }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
                <h3>Upload Your Pictures</h3>
                <form method="post" action="/upload/{{session.user_id}}" enctype="multipart/form-data">
                    <input type="file" name="pic">
                    <input type="submit" class="delete-button" value="Submit">
                </form>
            </div>
        </div>

        <div>
            <div class="total-box">
                <div class="bio-box">
                    <div class="red">
                        {% with messages = get_flashed_messages(category_filter=['edit']) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>*{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <form action="/users/update" method="post">
                        <label for="first_name">
                            <h4>First Name:</h4>
                        </label>
                        <input class="regular-input" type="text" name="first_name" value={{user.first_name}}><br>
                        <label for="last_name">
                            <h4>Last Name:</h4>
                        </label>
                        <input class="regular-input" type="text" name="last_name" value={{user.last_name}}><br>
                        <label for="email">
                            <h4>Email:</h4>
                        </label>
                        <input class="regular-input" type="email" name="email" value={{user.email}}><br><br>
                        <input type="submit" class="delete-button" value="Update"><br><br><br>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>


</body>
</html>