<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Filter By Preferences</title>
</head>
<body>
    <div>
        <h1>Filter By Preferences:</h1>
        <h4><a href="/dashboard">Back to dashboard</a></h4>

        <div class="form-bg">
            <h3>Select individual Preference and Go!</h3>
            <div class="red">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>*{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/filter/age" method="post">
                
                <div class="radio-boxes">
                    <label for="param"><h4>Above</h4></label>
                    <input type="radio" name="param" value="above">
                    <label for="param"><h4>Below</h4></label>
                    <input type="radio" name="param" value="below">

                    <label for="age">
                        <h4>Age:</h4>
                    </label>
                    <input class="small-input" type="number" name="age"><br>
                    <input type="submit" class="long-button" value="Go!"><br>
                </div>
                </form>

                <form action="/filter/gender" method="post">
                <label for="gender">
                    <h4>Gender?</h4>
                </label>
                <select class="small-input" id="gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="not specified">N/A</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!">
                </form>
        
                <form action="/filter/smoker" method="post">
                <label for="smoker">
                    <h4>Smoker?</h4>
                </label>
                <select class="small-input" id="smoker" name="smoker">
                    <option value="never">Never</option>
                    <option value="occasionally">Sometimes</option>
                    <option value="frequently">Very frequently</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!">
                </form>
        
                <form action="/filter/drinker" method="post">
                <label for="drinker">
                    <h4>Drinker?</h4>
                </label>
                <select class="regular-input" id="drinker" name="drinker">
                    <option value="never">Nope, not at all</option>
                    <option value="occasionally">Yes, but only on special occasions</option>
                    <option value="frequently">Yes, very frequently</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!">
                </form>
        
                <form action="/filter/goal" method="post">
                <label for="dating_goal">
                    <h4>Their dating goal?</h4>
                </label>
                <select class="regular-input" id="dating_goal" name="dating_goal">
                    <option value="casual, harmless fun">Casual, harmless fun</option>
                    <option value="an open relationship">Open relationship</option>
                    <option value="an exclusive relationship">Exclusive relationship</option>
                    <option value="someone who's marriage material">Marriage material</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!">
                </form>
        
                <form action="/filter/hobbies" method="post">
                <label for="hobbies">
                    <h4>Their hobby:</h4>
                </label>
                <select class="regular-input" id="hobbies" name="hobbies">
                    <option value="music">Music</option>
                    <option value="sports">Sports/Physical Activities</option>
                    <option value="reading">Reading/Writing</option>
                    <option value="cooking">Cooking</option>
                    <option value="traveling">Traveling</option>
                    <option value="politics">Politics</option>
                    <option value="photography">Photography</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!">
                </form>
        
                <form action="/filter/body" method="post">
                <label for="body_type">
                    <h4>Their body type:</h4>
                </label>
                <select class="regular-input" id="body_type" name="body_type">
                    <option value="slender">Slender</option>
                    <option value="medium">Medium/Average</option>
                    <option value="athletic">Athletic</option>
                    <option value="more to love">More to love</option>
                </select><br>
                <input type="submit" class="delete-button" value="Go!"><br>
                </form>
            </form>
        
        </div>
    </div>
</body>
</html>