<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Inbox</title>
</head>
<body>
    <div class="flex-column">
    <h1>All My Messages:</h1>
    {% if messages %}
        <div class="message-scroll">
        {% for message in messages %}
            <div class="message-box">
                <h4>From: <a href="/users/{{message.sender.id}}">{{message.sender.first_name}}</a></h4>
                <h4><u>{{message.text}}</u></h4>
                <p>{{message.created_at.strftime("%I:%M %a - %b %d")}}</p>
                <a href="/messages/new/{{message.sender.id}}"><button class="delete-button">Reply</button></a>
                <a href="/messages/delete/{{message.id}}"><button class="delete-button">Delete</button></a><br><br>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if not messages %}
        <p>No messages yet...</p>
    {% endif %}

    <h4><a href="/dashboard">Back to dashboard</a></h4>
    </div>
</body>
</html>