<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Send A Message</title>
</head>
<body>
    <h1>Send {{receiver.first_name}} a Message:</h1>

    <div class="red">
        {% with messages = get_flashed_messages(category_filter=['message']) %}
            {% if messages %}
                {% for message in messages %}
                    <p>*{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div>
        <form action="/messages/process/{{receiver.id}}" method="post">
            <label for="text">Type here...</label><br>
            <textarea rows="10" cols="50" name="text"></textarea><br><br>
            <input type="hidden" name="sender_id" value="{{session['user_id']}}">
            <input type="hidden" name="receiver_id" value="{{receiver.id}}">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>