<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaqueries.css') }}">
    <title>Suspended</title>
</head>
<body>
    <div class="center suspended">
        <h1>Looks like you've been suspended...</h1>
        <h4>You have been blocked and reported 3 times by different users.</h4>
        <h4>Your account is now under review and temporarily deleted.</h4>
        <h4>Sad to see you go! :(</h4>
        <img class="icon" src="../static/files/sad.png" alt="sad">
    </div>
</body>
</html>